<div class="autoscroll">
  <table class="list" style="border: 0">
  <tbody>
  <%
    c=@categories
    c=c.sort_by(&:title) if sort_categories?
    c.each do |category|
        %><%= render :partial => "categories/tree_row", :locals => { :category => category } %><%
    end
  %>
  </tbody>
  </table>
</div>
